<div class="form-group">
  <div class="form-row">
    <div class="col">

      <div class="accordion" id="accordion-for-orders">

        <% @user_orders.each do |order| %>

          <div class="card">

            <div class="card-header" id="heading-<%= order.id %>">
              <h2 class="mb-0">

                <a class="info-order" href="#" data-toggle="collapse" aria-expanded="false"
                   data-target="#collapse-<%= order.id %>" aria-controls="collapse-<%= order.id %>">

                                <span class="span-info-order">
                                  Date <span><%= order.moment %></span>
                                </span>

                                <span class="span-info-order">
                                  Status <span class="badge badge-info"><%= show_order_status(order.order_status) %></span>
                                </span>

                                <span class="span-info-order span-info-order-right">
                                  Total $ <span><%= order.total %></span>
                                </span>

                </a>

              </h2>
            </div>

            <div id="collapse-<%= order.id %>" class="collapse" aria-labelledby="heading-<%= order.id %>" data-parent="#accordion-for-orders">

              <div class="card-body">

                <table class="table">

                  <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                  </thead>

                  <tbody>
                  <%= render 'items', order: order %>
                  </tbody>

                </table>

              </div>

            </div>

          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>