<%= form_for(resource, as: resource_name, url: user_password_path, html: {method: :put, class: 'form-signin'}) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <h1 id="title-restrict-area" class="h3 mb-3 font-weight-normal">
          <a href="/" class="">
            <i class="fe fe-shopping-bag feather feather_icon"></i>
            <strong>MyShop</strong>
          </a>
        </h1>
        <p><strong class="badge badge-info">Edit Password</strong></p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'password', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'confirm password', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= f.submit "Change my password", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>