<%= form_for(resource, :html => {:class => "form-signin", method: :post}, as: resource_name, url: user_password_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <h1 id="title-restrict-area" class="h3 mb-3 font-weight-normal">
          <a href="/" class="">
            <i class="fe fe-beginner feather feather_icon"></i>
            <strong>Educandoweb</strong>
          </a>
        </h1>
        <p><strong class="badge badge-info">Reset Password</strong></p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'access email', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= f.submit "Send me reset password instructions", :class => 'btn-signin btn btn-success' %>
        <span class="render-links"><%= render "devise/shared/links" %></span>
      </div>
    </div>
  </div>

<% end %>