<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2"><i class="fe-h2 fe-gift feather_icon"></i>
      Product
    </h1>
  </div>

  <div class="form-row">
    <div class="form-row">
      <div class="col">
        <dl class="">
          <dt>
            <label>Name</label>
          </dt>
          <dd>
            <%= @product.name %>
          </dd>
          <dt>
            <label>description</label>
          </dt>
          <dd>
            <%= @product.description %>
          </dd>
          <dt>
            <label>price</label>
          </dt>
          <dd>
            <%= @product.price %>
          </dd>
          <dt>
            <label>category</label>
          </dt>
          <dd>
            <%= @product.category.name %>
          </dd>
          <dt>
            <label>product image</label>
          </dt>
          <dd>
            <% if @product.img_url.thumb.blank? %>
              <%= image_tag('img-not-found-thumb.png', :id => 'image_unavailable', :class => 'image_sized') %>
            <% else %>
              <img src="<%= @product.img_url.medium %>" id="image_available" class="image_sized rounded float-left" alt="Product Cover">
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-row">
      <div class="col">
        <% if (action_name == 'new' || action_name == 'create') %>
          <%= form.submit :class => 'btn btn-primary space-10-top button-default' %>
          <%= link_to 'Back', admin_products_path, :class => 'btn btn-info space-10-top button-default' %>
        <% elsif (action_name == 'edit' || action_name == 'update') %>
          <%= form.submit :class => 'btn btn-primary space-10-top button-default' %>
          <%= link_to 'Back', admin_products_path, :class => 'btn btn-info space-10-top button-default' %>
        <% elsif (action_name == 'show') %>
          <%= link_to 'Edit', edit_admin_product_path(@product), :class => 'btn btn-primary space-10-top button-default' %>
          <%= link_to 'Back', admin_products_path, :class => 'btn btn-info space-10-top button-default' %>
        <% end %>
      </div>
    </div>
  </div>


</main>