<div class="container dark-grey-text mt-5" style="margin-top: 0px !important;">

  <div class="row">

    <div class="form-group">
      <div class="form-row">

        <div class="container">
          <div class="header clearfix">
            <nav>
              <ol id="breadcrumb-menu" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Shop Products</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= @product.category.name %></li>
              </ol>
            </nav>
          </div>
          <div class="jumbotron">

            <div id="shop-product" class="row marketing margin-bottom-100" data-controller="cart">

              <div id="shop-product-image" class="col col-lg-6">
                <% if @product.img_url.thumb.blank? %>
                  <%= image_tag('img-not-found-large.png', :id => 'image_unavailable', :class => 'rounded float-left') %>
                <% else %>
                  <img src="<%= @product.img_url.large %>" id="image_available" class="rounded float-left" alt="Product Cover">
                <% end %>
              </div>

              <div id="shop-product-info" class="col col-lg-6">
                <h1><strong><%= @product.name %></strong> - $<span id="product-price"><%= @product.price %></span></h1>
                <p class="lead"><%= @product.description %></p>
                <%= link_to '/shop/cart', :class => 'btn btn-lg btn-success', :data => {action: 'click->cart#onAddToCart',
                                                                                        item: {product_id: @product.id, img_url: @product.img_url,
                                                                                            name: @product.name, price: @product.price, quantity: 1,
                                                                                        }} do %>
                  <i class="fe fe-cart"></i> Add to cart
                <% end %>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="card-deck mb-3 text-center"></div>

  </div>

</div>