<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" data-controller="products">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2"><i class="fe-h2 fe-gift feather_icon"></i>Products</h1>
  </div>

  <p id="notice"><%= notice %></p>

  <table class="table">

    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>image</td>
        <td><%= product.name %></td>
        <td>$ <%= product.price %></td>

        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'New Product', new_product_path, :class => 'btn btn-primary' %>

</main>
