<!DOCTYPE html>
<html>
  <head>

    <title>CursoFatiado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a id="nav-bar-brand-link" class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Educando Web</a>
    <ul class="navbar-nav px-3" style="display: -webkit-inline-box">
      <li class="nav-item text-nowrap">
        <% if user_signed_in? %>
          <%= link_to current_user.name, {}, :class => 'nav-link user-signed' %>
        <% end %>
      </li>
      <li class="nav-item text-nowrap" style="margin-right: 15px">
        <% if user_signed_in? %>
          <%= link_to(destroy_user_session_path, method: :delete, class: 'nav-link') do %>
            <i class="fe fe-logout"></i>Logout
          <% end %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="container-fluid" data-controller="<%= controller_name %>">

    <div class="margin-body-full row">

      <nav id="navigation-menu" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul id="admin-menu" class="nav flex-column">

            <li class="nav-item">
              <%= link_to admin_categories_path, :class => "nav-link" do %>
                <i class="fe fe-shopping-bag feather feather_icon"></i>Categories
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to admin_products_path, :class => "nav-link" do %>
                <i class="fe fe-home feather feather_icon"></i> Products
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to admin_orders_path, :class => "nav-link" do %>
                <i class="fe fe-home feather feather_icon"></i> Orders
              <% end %>
            </li>

          </ul>
        </div>
      </nav>

      <%= yield %>

    </div>

  </div>

  <%= render 'layouts/flash_message' %>

  </body>

</html>