<!DOCTYPE html>
<html>
  <head>

    <title>CursoFatiado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a id="nav-bar-brand-link" class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Educando Web</a>
  </nav>

  <div class="container-fluid" data-controller="<%= controller_name %>">

    <div class="margin-body-full row">

      <nav id="navigation-menu" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul id="admin-menu" class="nav flex-column">

            <li class="nav-item">
              <%= link_to admin_categories_path, :class => "nav-link" do %>
                <i class="fe fe-shopping-bag feather feather_icon"></i>Categories
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to admin_products_path, :class => "nav-link" do %>
                <i class="fe fe-home feather feather_icon"></i> Products
              <% end %>
            </li>

          </ul>
        </div>
      </nav>

      <%= yield %>

    </div>

  </div>

  </body>

</html>