<!DOCTYPE html>
<html>
<head>
  <title>Curso Ruby on Rails / Erubis</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'shop', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'shop', 'data-turbolinks-track': 'reload' %>
</head>

<body data-controller="<%= controller_name %>" data-action="load@window->shop#showOrder">
<header>

  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context.
            Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some
            social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-dark bg-dark shadow-sm" data-controller="shop">
    <div class="container d-flex justify-content-between">

      <a id="nav-bar-brand-link" href="/" class="nav-bar-brand-link navbar-brand d-flex align-items-center">
        <i class="fe fe-beginner feather feather_icon"></i>
        <strong>Educandoweb</strong>
      </a>

      <div class="dropdown">

        <ul id="shop-menu" class="navbar-nav px-3" style="display: -webkit-inline-box">
          <li class="nav-item text-nowrap">
            <!-- user identification -->
          </li>
          <li class="nav-item text-nowrap">
            <a href="/shop/cart" class="nav-link my-cart" id="items-on-cart">
              <i class="fe fe-cart"></i><span id="cartItems">0</span> items
            </a>
          </li>
          <li class="nav-item text-nowrap" style="margin-right: 15px">
            <!-- user identification -->
          </li>
        </ul>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>

    </div>
  </div>

</header>

<main role="main">

  <%= yield %>

</main>

<footer class="text-muted">

  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our
      <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
  </div>

</footer>

</body>

<!-- Position it -->
<div style="position: absolute; top: 74px; right: 9px; z-index: 10000">

  <!-- Then put toasts within -->
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500" data-autohide="true">
    <div class="toast-header">
      <i class="fe messages-toast-icon fe-check-circle message-success"></i>
      <strong class="mr-auto">Ok !</strong>
      <small class="text-muted"></small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Product successfully added to your cart
    </div>
  </div>

</div>